@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Patrick+Hand&display=swap');

:root{
    --Main_color : black;
    --Sec_color : #FFCC33;
    --White : white;

    --Main_Font : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --Sec_Font : Serif;
}
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    background-color: var(--Main_color);
    font-family: var(--Main_Font);
    font-weight: 600;
    font-size: 16px;
}
a{
    text-decoration: none;
}
header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
}
/* .logo{
    color: whitesmoke;
    cursor: pointer;
}    */
.nav-area{
    list-style: none;
    padding: 0px 15px;
    text-transform: uppercase;
    margin: 2px solid white;
    display: flex;

}
.nav-area li{
    margin-left: 5vw;
}
.nav-area a{
    color: white;
}



/* Mid Area */
.container{
    margin-top: 10vh;
    /* background-color: rgb(42, 36, 36); */
}
.para1{
    color: white;
    margin: 0 20vw 0 10vw;
}
.container img{
    float: right;
    padding: 5vh;
    margin-right: 5vw;
    margin-right: 5vw;
    width: 50vh;
}